/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#content {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h2 {
    color: #1E3A8A;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Botones */
/* Botón Volver */
.volver-btn {
    background-color: #FF6B6B; /* Color de fondo rojo suave */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-align: center;
}

.volver-btn:hover {
    background-color: #D94E4E; /* Color de fondo rojo más fuerte cuando se hace hover */
}

button {
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2563EB;
}

/* Contenedor de opciones */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Campos de formulario */
label {
    font-size: 1rem;
    color: #1E3A8A;
    margin-bottom: 8px;
}

input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    margin-bottom: 15px;
    font-size: 1rem;
}

/* Listado de tarjetas */
#tarjetas-list {
    margin-top: 20px;
}

#tarjetas-list p {
    background-color: #E0F2FE;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

/* Formulario del simulador */
#simulador-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#simulador-form label {
    margin-top: 10px;
    font-size: 1rem;
}

#simulador-form input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo para los resultados */
#resultado-simulador {
    padding: 10px;
    background-color: #E0F7FA;
    border-radius: 5px;
    margin-top: 20px;
}

#resultado-simulador p {
    font-size: 1.2rem;
}

/* Estilo del pie de página */
footer {
    font-size: 0.9rem;
    color: #1E3A8A;
    text-align: center;
    margin-top: 40px;
}
